p {
    color: red;
    font-size: 22pt;
}

#gruby_czaplewski {
    color: green;
    font-size: 17pt;
    font-weight: bold;
}

#dlawszyskich_czaplewski {
    color: yellow;
    font-size: 10pt;
    font-family: Arial;
}
